<!DOCTYPE html>
<html>
<head>
    <title>Matrícula de Aluno</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div>
        <h2>Matrícula de Aluno</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.nome.label_tag }}<br>
                {{ form.nome }}
            </div>
            <div>
                {{ form.endereco.label_tag }}<br>
                {{ form.endereco }}
            </div>
            <div>
                {{ form.cidade.label_tag }}<br>
                {{ form.cidade }}
            </div>
            <div>
                {{ form.email.label_tag }}<br>
                {{ form.email }}
            </div>
            <div>
                {{ form.curso.label_tag }}<br>
                {{ form.curso }}
            </div>
            <button type="submit">Cadastro</button>
        </form>
    </div>
</body>
</html>
